#embedContainer {
  width: 600px; /* Установите ширину по вашему желанию */
  height: 400px; /* Установите высоту по вашему желанию */
  position: relative;
}
.embed {
  width: 100%;
  height: 100%;
}