.h1 {
  text-align: center;
  font-size: 38px;
}

.h2 {
  padding-top: 32px;
  color: grey;
  font-weight: 400;
}

.h3 {
  white-space: pre-wrap;
  gap: 32px;
  display: flex;
  padding-top: 32px;
  font-weight: 500;
  font-size: 32px;
  flex-direction: column;
}